.product-info{
    border: 2px solid green;
    width: 20em;
    border-radius: 20px;
    box-shadow: 5px 10px #888888;
}
.product-info img{
    width: 50%;
    /* margin: 0; */
}
.nameandtotal{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nameandtotal p{
    font-size: x-large;
    font-weight: bold;
    padding: 0.5em;
}

.product-info button{
    width: 100%;
    padding: 0.2em;
    color: rgba(236, 17, 90, 0.959);
    border-radius: 20px;
    font-weight: bolder;
    bottom: 0;
}
